 .title{
    color: black;
    margin: 0%;
    padding: 0%;
    font-weight: 800;
}

 .subtitle{
    color: black ;
    margin: 0%;
    padding: 0%;
}

 .lefttext{
    margin: 100px;
    margin-bottom: 100px;
}